/* Arquivo: style.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000; /* Fundo preto para as bordas */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    background-color: #87CEEB;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    /* O JavaScript vai controlar o tamanho e a escala */
}