/* Arquivo: style.css */

/* Remove qualquer margem da página */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Esconde as barras de rolagem */
}

canvas {
    display: block; /* Remove pequenos espaços em branco abaixo do canvas */
    background-color: #87CEEB; /* Cor de céu do jogo */
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}